.botao{
justify-content: space-between;
width: 19%;
}

.cor{
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.ion-title{
  text-align: center;
}


.time{
display: flex;
flex-direction: column;
align-items: center;
ion-button{
height: 50px;
width: 50px;
}

}

.centro{
justify-content: center;
}
