<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-title> Valendo: 1</ion-title>
<ion-button color="primary">1</ion-button>
<ion-button color="primary">3</ion-button>
<ion-button color="primary">6</ion-button>
<ion-button color="primary">9</ion-button>
<ion-button color="primary">12</ion-button>

<ion-title>Time 1</ion-title>
<ion-button color="primary">+</ion-button>
<ion-title>0</ion-title>
<ion-button color="primary">-</ion-button>


<ion-title class="centro">Time 2</ion-title>
<ion-button color="primary">+</ion-button>
<ion-title>0</ion-title>
<ion-button color="primary">-</ion-button>


</ion-content>
